


#root {
  max-width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 10px;
}


.button_store {
  position: absolute;
  background: none;
  border: none;
  top: 5vw;
  right: 5vw;
}

